MFC-2010/dimeStream/calcSSLgSOAP/dime/dime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="dime"
 targetNamespace="https://10.49.46.199:8085/dime.wsdl"
 xmlns:tns="https://10.49.46.199:8085/dime.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:dime"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:dime"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:dime"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Data">
   <annotation>
    <documentation>contains DIME attachment data</documentation>
   </annotation>
   <simpleContent>
    <extension base="xsd:base64Binary">
     <attribute name="href" type="xsd:anyURI" use="optional"/>
    </extension>
   </simpleContent>
  </complexType>
  <complexType name="ArrayOfData">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns:Data" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns:Data[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ArrayOfstring">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:string[]"/>
    </restriction>
   </complexContent>
  </complexType>
 </schema>

</types>

<message name="putDataRequest">
 <part name="data" type="ns:ArrayOfData"/><!-- ns__putData::data -->
</message>

<message name="putDataResponse">
 <part name="names" type="ns:ArrayOfstring"/><!-- ns__putData::names -->
</message>

<message name="getDataRequest">
 <part name="names" type="ns:ArrayOfstring"/><!-- ns__getData::names -->
</message>

<message name="getDataResponse">
 <part name="data" type="ns:ArrayOfData"/><!-- ns__getData::data -->
</message>

<message name="getImageRequest">
 <part name="name" type="xsd:string"/><!-- ns__getImage::name -->
</message>

<message name="getImageResponse">
 <part name="image" type="ns:Data"/><!-- ns__getImage::image -->
</message>

<message name="addRequest">
 <part name="a" type="xsd:float"/><!-- ns__add::a -->
 <part name="b" type="xsd:float"/><!-- ns__add::b -->
</message>

<message name="addResponse">
 <part name="ret" type="xsd:float"/><!-- ns__add::ret -->
</message>

<portType name="dimePortType">
 <operation name="putData">
  <documentation>Service definition of function ns__putData</documentation>
  <input message="tns:putDataRequest"/>
  <output message="tns:putDataResponse"/>
 </operation>
 <operation name="getData">
  <documentation>Service definition of function ns__getData</documentation>
  <input message="tns:getDataRequest"/>
  <output message="tns:getDataResponse"/>
 </operation>
 <operation name="getImage">
  <documentation>Service definition of function ns__getImage</documentation>
  <input message="tns:getImageRequest"/>
  <output message="tns:getImageResponse"/>
 </operation>
 <operation name="add">
  <documentation>Service definition of function ns__add</documentation>
  <input message="tns:addRequest"/>
  <output message="tns:addResponse"/>
 </operation>
</portType>

<binding name="dime" type="tns:dimePortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="putData">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getData">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getImage">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="add">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:dime" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="dime">
 <documentation>gSOAP 2.8.23 generated service definition</documentation>
 <port name="dime" binding="tns:dime">
  <SOAP:address location="https://10.49.46.199:8085"/>
 </port>
</service>

</definitions>
